<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cart</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Wish shop project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
	<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="styles/cart.css">
	<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">
			<div class="header_inner d-flex flex-row align-items-center justify-content-start">
				<div class="logo"><a href="/">NAZMA</a></div>
				<nav class="main_nav">
					<ul>
						<li><a href="/landing">home</a></li>
						<li><a href="/categories">categories</a></li>

						<li><a href="/contact">contact</a></li>
					</ul>
				</nav>
				<div class="header_content ml-auto">
					<div class="search header_search">
						<form action="#">
							<input type="search" class="search_input" required="required">
							<button type="submit" id="search_button" class="search_button"><img
									src="images/magnifying-glass.svg" alt=""></button>
						</form>
					</div>
					<div class="shopping">
						<!-- Cart -->
						<a href="#">
							<div class="cart text-dark">
								<span class="material-symbols-outlined">
									shopping_bag
								</span>
								
							</div>
						</a>
						<!-- Star -->
						<a href="/wishList">
							<div class="star text-dark">
								<span class="material-symbols-outlined">
									favorite
								</span>
							
							</div>
						</a>
						<!-- Avatar -->
						<a href="/profile">
							<div class="avatar text-dark">
								<span class="material-symbols-outlined">
									person
								</span>
							</div>
						</a>

						<a href="/logout">
							<div class="avatar text-dark">
								<span class="material-symbols-outlined">
									exit_to_app <!-- This icon represents logout -->
								</span>
							</div>
						</a>
						
					</div>
				</div>

				<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</header>

		<!-- Menu -->

		<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
			<div class="menu_close_container">
				<div class="menu_close">
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="logo menu_mm"><a href="/">NAZMA</a></div>
			<div class="search">
				<form action="#">
					<input type="search" class="search_input menu_mm" required="required">
					<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm"
							src="images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<nav class="menu_nav">
				<ul class="menu_mm">
					<li class="menu_mm"><a href="/landing">home</a></li>
				<li class="menu_mm"><a href="/categories">category</a></li>
				<li class="menu_mm"><a href="/contact">contact</a></li>
				<li class="menu_mm"><a href="/wallet">Wallet</a></li>
				<li class="menu_mm"><a href="/login">login</a></li>
				<li class="menu_mm"><a href="/admin">admin</a></li>
				</ul>
			</nav>
		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/cart.jpg"
				data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_container">
							<div class="home_content">
								<div class="home_title">Shopping Cart</div>
								<div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li>Shopping Cart</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Cart -->

		<div class="cart_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_title">your shopping cart</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
							<div class="cart_bar_title_name">Product</div>
							<div class="cart_bar_title_content ml-auto">
								<div
									class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
									<div class="cart_bar_title_price">Price</div>
									<div class="cart_bar_title_quantity">Quantity</div>
									<div class="cart_bar_title_total">Total</div>
									<div class="cart_bar_title_button"></div>
									<div class="cart_bar_title_button"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% if(List.length){ for(i=0; i<List.length;i++){%>
					<div class="row">
						<div class="col">
							<div class="cart_products">
								<ul>
									<li
										class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
										<!-- Product Image -->
										<div class="cart_product_image"><img src="/uploads/<%=List[i].cartProduct.imageUrl%>"
												alt="Product 1"></div>
										<!-- Product Name -->
										<div class="cart_product_name"><a href="#">
											₹	<%= List[i].cartProduct.productName %>
											</a></div>
										<div class="cart_product_info ml-auto">
											<div
												class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
												<!-- Product Price -->
												<div class="cart_product_price">
													<input type="text" class="w-50 text-center rate" readonly value=" <%= List[i].cartProduct.amount %>">
												</div>
												<!-- Product Quantity -->

											
												<div class="product_quantity_container">
													<div class="product_quantity clearfix">
														<div class="input-group">
															<div class="input-group-prepend">
																<button class="btn btn-secondary" type="button" name="id" value="<%= List[i].cartProduct._id %>" onclick="showAmount('decrease','<%= List[i].cartProduct._id %>','<%= List[i].cartProduct.amount %>')">-</button>
															</div>
															<input  class="form-control text-center quantity_input" type="text" min="1" value="<%= List[i].cart.quantity %>">
															<div class="input-group-append">
																<button class="btn btn-secondary" type="button"  name="id" value="<%= List[i].cartProduct._id %>"onclick="showAmount('increase','<%= List[i].cartProduct._id  %>','<%= List[i].cartProduct.amount %>')">+</button>
															</div>
														</div>
													</div>
												</div>
												
											
												<!-- Products Total Price -->
												<% const subtotal = List[i].cartProduct.amount* List[i].cart.quantity %>
												<div class="cart_product_total" > <input type="text" class="text-center w-50 displayRate" readonly  value="<%= subtotal%>"> </div>
												<!-- Product Cart Trash Button -->
												<div class="cart_product_button">
													<button class="cart_product_remove" onclick="removeProduct(this)" data-index="<%= i %>">
														<a href="removeProduct?id=<%= List[i].cartProduct._id %>">	<img src="images/trash.png" alt=""></a> 
													</button>
													
												</div>
												
											</div>
											
										</div>
										<button  class="btn btn-success"><a href="/checkout?id=<%= List[i].cartProduct._id %>" style="color: aliceblue;"> Buy Now</a></button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<% }} %>
					
						<!-- <div class="row cart_extra"> -->
							<!-- Cart Coupon -->
							<!-- <div class="col-lg-6">
								<div class="cart_coupon">
									<div class="cart_title">coupon code</div>
									<form action="#"
										class="cart_coupon_form d-flex flex-row align-items-start justify-content-start"
										id="cart_coupon_form">
										<input type="text" class="cart_coupon_input" placeholder="Coupon code"
											required="required">
										<button class="button_clear cart_button_2">apply coupon</button>
									</form>
								</div>
							</div> -->
							<!-- Cart Total -->
							<!-- <div class="col-lg-5 offset-lg-1">
								<div class="cart_total">
									<div class="cart_title">cart total</div>
									<ul>
										<% let totalAmount = 0; %>
										<% if(List.length){ for(i=0; i<List.length;i++){
											totalAmount += List[i].cartProduct.amount; 
											%>
										<li class="d-flex flex-row align-items-center justify-content-start">
											<div class="cart_total_title"><%= List[i].cartProduct.productName %></div>
											<div class="cart_total_price ml-auto"><%= List[i].cartProduct.amount %></div>
										</li>
									
										<% }} %>
										<li class="d-flex flex-row align-items-center justify-content-start">
											<div class="cart_total_title">Total</div>
											<div class="cart_total_price ml-auto">  ₹<%= totalAmount %></div>
										</li>
									</ul>
									<button  class="cart_total_button "><a href="/checkout"> proceed to checkout</a></button>
								</div>
							</div>
						</div> -->
			</div>
		</div>

		<!-- Newsletter -->

		

		<!-- Footer -->

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="footer_logo"><a href="/">NAZMA</a></div>
						<nav class="footer_nav">
							<ul>
								<li><a href="/">home</a></li>
								<li><a href="/categories">Category</a></li>
								<li><a href="/contact">contact</a></li>
							</ul>
						</nav>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script>
		
		function showAmount(action,id,amount) {
			// const data = document.getElementsByClassName("rate")[i].value
			// const qty = document.getElementsByClassName("quantity_input")[i].value
			// document.getElementsByClassName("displayRate")[i].value = data * qty
		console.log(amount,id);
			fetch(`/addquantity/`,{
				method:'post',
				headers:{"Content-type":"application/json"},
				body:JSON.stringify({action:action,id:id})

			}).then(()=>{;

			
				window.location.reload()
			}).catch((Error)=>{
				console.error('error');
			})
			
		}
		</script>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
	<script src="styles/bootstrap4/bootstrap.min.js"></script>
	<script src="plugins/easing/easing.js"></script>
	<script src="plugins/parallax-js-master/parallax.min.js"></script>
	<script src="js/cart_custom.js"></script>
</body>

</html>