<!DOCTYPE html>
<html lang="en">

<head>
	<title>Checkout</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Wish shop project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
	<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="styles/checkout.css">
	<link rel="stylesheet" type="text/css" href="styles/checkout_responsive.css">
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">
			<div class="header_inner d-flex flex-row align-items-center justify-content-start">
				<div class="logo"><a href="#">Wish</a></div>
				<nav class="main_nav">
					<ul>
						<li><a href="/landing">home</a></li>
						<li><a href="/categories">category</a></li>
						<li><a href="/contact">contact</a></li>
					</ul>
				</nav>
				<div class="header_content ml-auto">
					<div class="search header_search">
						<form action="#">
							<input type="search" class="search_input" required="required">
							<button type="submit" id="search_button" class="search_button"><img
									src="images/magnifying-glass.svg" alt=""></button>
						</form>
					</div>
					<div class="shopping">
						<!-- Cart -->
						<a href="#">
							<div class="cart">
								<img src="images/shopping-bag.svg" alt="">
								<div class="cart_num_container">
									<div class="cart_num_inner">
										<div class="cart_num">1</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Star -->
						<a href="#">
							<div class="star">
								<img src="images/star.svg" alt="">
								<div class="star_num_container">
									<div class="star_num_inner">
										<div class="star_num">0</div>
									</div>
								</div>
							</div>
						</a>
						<!-- Avatar -->
						<a href="#">
							<div class="avatar">
								<img src="images/avatar.svg" alt="">
							</div>
						</a>
						<a href="/logout">
							<div class="avatar text-dark">
								<span class="material-symbols-outlined">
									exit_to_app <!-- This icon represents logout -->
								</span>
							</div>
						</a>

					</div>
				</div>

				<div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</header>

		<!-- Menu -->

		<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
			<div class="menu_close_container">
				<div class="menu_close">
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="logo menu_mm"><a href="#">Wish</a></div>
			<div class="search">
				<form action="#">
					<input type="search" class="search_input menu_mm" required="required">
					<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm"
							src="images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<nav class="menu_nav">
				<ul class="menu_mm">
					<li class="menu_mm"><a href="/landing">home</a></li>
					<li class="menu_mm"><a href="/categories">Category</a></li>
					<li class="menu_mm"><a href="/contact">contact</a></li>
				</ul>
			</nav>
		</div>

		<!-- Home -->

		<div class="home">
			<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/categories.jpg"
				data-speed="0.8"></div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_container">
							<div class="home_content">
								<div class="home_title">Checkout</div>
								<div class="breadcrumbs">
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="index.html">Shopping Cart</a></li>
										<li>Shopping Cart</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Checkout -->

		<div class="checkout">
			<div class="container">
				<form id="checkoutForm" action="/confirm-order" onsubmit="event.preventDefault(); confirmOrder()" method="post">
					<div class="row">
						<div class="container m-5">
							<h1>Select Address</h1>

							<!-- <input type="text" id="addressSearch" class="form-control" placeholder="Search addresses"> -->

							<div class="form-group mt-3">
								<select class="form-control" id="selectedAddress" name="selectedAddress" required>
									<option value="">Select an address</option>
									<% if(profile.address.length) { for(i=0; i < profile.address.length; i++) { %>
										<option value="<%= profile.address[i]._id %>">
											<%= profile.address[i].name %>, <%= profile.address[i].place %>, <%=
														profile.address[i].mobile %>
										</option>
										<% } } %>
								</select>
							</div>


						</div>
						<!-- <script>
							$(document).ready(function () {
								$("#addressSearch").on("keyup", function () {
									var input = $(this).val().toLowerCase();
									$("#selectedAddress option").filter(function () {
										$(this).toggle($(this).text().toLowerCase().indexOf(input) > -1);
									});
								});
							});
						</script> -->
						<!-- Billing Details -->
						<div class="col-lg justify-content-center">
							<div class="row justify-content-center"> <!-- Center the product cards horizontally -->
								<% if(List.length){ for(i=0; i<List.length;i++){%>
									<input type="hidden" name="productId" value="<%= List[i]._id %>" id="">
									<div class="col-6 m-5 ">
										<div class="card text-center">
											<img src="/uploads/<%=List[i].imageUrl[0]%>" class="card-img-top"
												alt="Product 1">
											<div class="card-body d-flex flex-column align-items-center">
												<!-- Center the card details vertically -->
												<h5 class="card-title">
													<%= List[i].productName %>
												</h5>
												<p class="card-text">
													<%= List[i].details %>
												</p>
												<p class="product-amount ">
													<%= List[i].amount %>
												</p>
												<p class="card-text">quantity:1</p>
											</div>

										</div>
										<div class="payment_options">
											<div>
												<input type="radio" id="radio_payment_1" name="payment_method" value="COD"
													class="regular_radio"required>
												<label for="radio_payment_1">cash on delivery</label>
												<input type="radio" id="radio_payment_1" name="payment_method" value="RazorPay"
													class="regular_radio"required>
												<label for="radio_payment_1">RazorPay</label>
											</div>
										</div>
											<button id="place" type="submit"
												class="cart_total_button placeOrderButton">
												place order
											</button>
										
										<div class="text-center"><a href="/orderManagement?id=<%=List[i]._id %>"
												class="btn btn-warning mt-3 text-center">Order Managment</a></div>
									</div>

									<% }} %>
							</div>
						</div>

					</div>
				</form>

			</div>
		</div>
		<div id="confirmationModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>Confirm your order?</p>
				<button class="confirm_button" id="confirmOrderButton">Confirm</button>
			</div>
		</div>




		<button id="rzp-button1">Pay</button>


		<!-- Newsletter -->


		<style>
			.container-fluid {
				margin-top: 150px;
			}

			.product-amount {
				font-size: 18px;
				font-weight: bold;
				color: #e74c3c;
				margin-top: 10px;
			}

			.modal {
				display: none;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0, 0, 0, 0.4);
			}

			.modal-content {
				background-color: #fff;
				margin: 15% auto;
				padding: 20px;
				border: 1px solid #888;
				width: 50%;
				text-align: center;
			}

			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			/* Show/hide the modal */
			.modal.active {
				display: block;
			}
		</style>
		<!-- ... your previous HTML code ... -->
		

		<!-- ... your previous HTML code ... -->
<script>

function confirmOrder() {
console.log('hi');
$.ajax({
	url: "/confirm-order",
	method: "POST",
	data: $('#checkoutForm').serialize(),
	success: function (response) {
		console.log("ghhghg")
		if (response.codSuccess) {
			window.location.href ="/success"
		} else if (response.razorSuccess) {
			const order = {
				"key": "" + response.id + "",
				"amount": "" + response.amount + "",
				"currency": "INR",
				"name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    // "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    
  
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    },
				
				"handler": function (response) {
					alert("paymentDone")
				
					verifyPayment()
				}
			}

			const razorpay = new Razorpay(order);

			const done = razorpay.open();

		} else {
			window.location.href = `/checkout`
		}
	},
	error: function (err) {
		console.log(err);
}
})
}


function verifyPayment(){
	$.ajax({
		url:"/verify-payment",
		method:"POST"
		,success:()=>{
			window.location.href="/success"
		}
	})

}
</script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="styles/bootstrap4/popper.js"></script>
		<script src="styles/bootstrap4/bootstrap.min.js"></script>
		<script src="plugins/easing/easing.js"></script>
		<script src="plugins/parallax-js-master/parallax.min.js"></script>
		<script src="js/checkout_custom.js"></script>
</body>

</html>